*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.row{
    flex-direction: row;
}
nav{
    background-color: #0960c7;
}
nav h1{
    width: 100vw;
    text-align: center;
}
div h3{
    text-align: center;
}
.profil{
    justify-content: space-around;
    background-color: #0960c7;
}
.banner{
    background-image: url("img/team.png");
    width: 100vw;
    height: 90vh;
}
.pro{
    padding-top: 9%;
    height: 20vh;
    border-radius: 50%;
}